
<section class="contacts-section">
    <div class="container">
        <div class="contacts-first-block">
            <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
            <ul class="contacts-img-list list">
                <li>
                    <img
                    class="contacts-melon"
                    srcset="
                    ../img/fresh/melon_tablet_and_mobile/melon.jpg 344w,
                    ../img/fresh/melon_tablet_and_mobile/melon@2x.jpg 688w,
                    ../img/fresh/melon/Rectangle42472.jpg 792w,
                    ../img/fresh/melon/Rectangle42472@2x.jpg 1584w
                    "
                    sizes="(min-width: 1280px) 792px, (min-width: 320px) 344px, 100vw"
                    src="../img/fresh/melon/Rectangle42472.jpg"
                    alt="melon"
                    loading="lazy"
                    width="792"
                    height="502"
                    >
                </li>
                <li>
                    <img
                    class="contacts-blueberry"
                    srcset="
                    ../img/fresh/blueberry_tablet_and_mobile/blueberry.jpg 344w,
                    ../img/fresh/blueberry/blueberry.jpg 400w,
                    ../img/fresh/blueberry_tablet_and_mobile/blueberry@2x.jpg 688w,
                    ../img/fresh/blueberry/blueberry@2x.jpg 800w
                    "
                    sizes="(min-width: 1280px) 400px, (min-width: 768px) 344px, 100vw"
                    src="../img/fresh/blueberry/blueberry.jpg"
                    alt="blueberry"
                    loading="lazy"
                    width="400"
                    height="502"
                    >
                </li>
            </ul>
        </div>
        <div class="contacts-second-block">
            <p class="contacts-text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
            <form class="contacts-form">
                <div class="contacts-form-div">
                    <input class="contacts-input" type="email" name="email" placeholder="Enter email..." required>
                    <button class="contacts-button" type="submit"  data-modal-open>Send</button>
                </div>
            </form>
        </div>
    </div>
</section>