<header class="header">
  <div class="container heder-nav-menu">
    <div class="header-position">
      <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-item item">
            <a class="header-link link" href="#works">How It Works</a>
          </li>
          <li class="header-item item">
            <a class="header-link link" href="#fruits">Fruits</a>
          </li>
          <li class="header-item item">
            <a class="header-link link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header-mobile-but" type="button">
        <a href="#fruits" class="mobile-icon-link">
          <svg class="mob-icon" width="28" height="28">
            <use href="../img/icons/sprite.svg#uil_carR"></use>
          </svg>
        </a>
      </button>
    </div>
    <a href="../index.html" class="header-logo link">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="../img/icons/sprite.svg#icon-logo"></use>
      </svg>
      <span class="header-logo-text link">FRESH HARVEST BOX</span></a
    >
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="mobil-icon-open"
        width="24"
        height="24"
        aria-label="Преключатель мобильного меню"
      >
        <use
          class="icon-menu"
          href="../img/icons/sprite.svg#gg_menu-left"
        ></use>
        <use
          class="icon-cross modal-icon"
          href="../img/icons/sprite.svg#icon-closed"
        ></use>
      </svg>
    </button>
  </div>
</header>
