<header class="header">
    <div class="container heder-nav-menu">
        <nav class="header-nav">
    <ul class="header-list list" >
        <li class="header-item item"> <a class="header-link link" href="">How It Works</a></li>
        <li class="header-item item"><a class="header-link link" href="">Fruits</a></li>
        <li class="header-item item"><a class="header-link link" href="">Contacts</a></li>
    </ul>
    <a href="/" class="header-logo link">
        <img src="" alt="logo"><span class="heder-logo-text link">FRESH HARVEST BOX</span></a>
</nav>
    <button class="heder-button" type="button">
        <svg class="" width="24" height="24">
          <use href=""></use>
        </svg>
    </button>
    <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      class="mobil-icon-open"
      width="24"
      height="24"
      aria-label="Преключатель мобильного меню"
    >
      <use
        class="icon-menu"
        href=""
      ></use>
    </svg>
  </button>
  </div>
</header>
