<!-- hero section -->
<section class="hero">
  <div class="container hero-width">
    <div class="hero-girl-border">
      <picture>
        <source
          srcset="
            img/hero/top_hero/1girlnew.png   1x,
            img/hero/top_hero/1girl2xnew.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            img/hero/top_hero/girlnew.jpg   1x,
            img/hero/top_hero/girl2xnew.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <img src="img/hero/top_hero/girlnew.jpg" alt="girl" class="hero-girl" />
      </picture>
    </div>
    <div class="hero-title-box">
      <h1 class="hero-title">
        fresh harvest box<br />
        is your one-stop place for a delicious fruit basket
      </h1>
    </div>
    <picture>
      <source
        srcset="
          img/hero/banana_berry/imagebanana.png 1x,
          img/hero/banana_berry/banana@2x.png   2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <source
        srcset="
          img/hero/banana_berry/banana_tab.png    1x,
          img/hero/banana_berry/banana_tab@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          img/hero/banana_berry/banana_desk.png    1x,
          img/hero/banana_berry/banana_desk@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img
        src="img/banana_berry/banana_desk.png"
        alt="banana"
        class="hero-banana"
      />
    </picture>
    <picture>
      <source
        srcset="
          img/hero/banana_berry/imagestrawberry.png    1x,
          img/hero/banana_berry/imagestrawberry@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <source
        srcset="
          img/hero/banana_berry/strawberry_tab.png    1x,
          img/hero/banana_berry/strawberry_tab@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          img/hero/banana_berry/strawberry_desk.png    1x,
          img/hero/banana_berry/strawberry_desk@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img
        class="hero-berry"
        src="img/hero/banana_berry/strawberry_desk.png"
        alt="banana"
      />
    </picture>
    <!-- BTN SHOP NOW -->
    <div class="hero-btn-container">
      <button class="hero-btn" type="button">
        <h2 class="hero-btn-desc"><a href="#fruits">shop now</a></h2>
      </button>
    </div>
  </div>

  <!-- Yulia Part  -->

  <!-- first side -->
  <div class="hero-first-container">
    <p class="hero-description">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="hero-first-wrapper">
      <p class="hero-first-title">Fruit</p>
      <img
        class="hero-first-pic"
        srcset="
          img/hero/watermelon/watermelon@1x.png 1x,
          img/hero/watermelon/watermelon@2x.png 2x
        "
        src="img/hero/watermelon/watermelon@1x.png"
        width="200"
        height="172"
        alt="watermelon"
      />
      <p class="hero-desc">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
  </div>
  <!-- second side-->

  <div class="hero-second-container">
    <div class="hero-scroll-container">
      <div>
        <ul class="hero-scrol-list list">
          <li>
            <button class="hero-scroll-btn-one" type="button">
              <h3 class="hero-scroll-btn-title">&#35;organic</h3>
            </button>
          </li>
          <li>
            <button class="hero-scroll-btn-one" type="button">
              <h3 class="hero-scroll-btn-title">&#35;products</h3>
            </button>
          </li>
        </ul>
      </div>
      <div>
        <ul class="hero-scrol-list list">
          <li>
            <button class="hero-scroll-btn-two" type="button">
              <h3 class="hero-scroll-btn-title">&#35;basket</h3>
            </button>
          </li>
          <li>
            <button class="hero-scroll-btn-two" type="button">
              <h3 class="hero-scroll-btn-title">&#35;fruits</h3>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-second-wrapper">
      <p class="hero-second-title">Fruit</p>
      <img
        class="hero-second-pic"
        srcset="
          img/hero/basket_strawberris/basket_strawberris@1x.png 1x,
          img/hero/basket_strawberris/basket_strawberris@2x.png 2x
        "
        src="img/hero/basket_strawberris/basket_strawberris@1x.png"
        width="239"
        height="187"
        alt="basket with strawberries"
      />
      <p class="hero-desc">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
  </div>
</section>
