<!-- hero section -->
<section class="hero">
  <div class="container">
    <div class="hero-title-box">
      <h1 class="hero-title">
        fresh harvest box<br />
        is your one-stop place for a delicious fruit basket
      </h1>
    </div>
    <div class="hero-girl-border">
      <img
        class="hero-girl"
        srcset="
    ../img/hero/top_hero/top_hero.jpg
    ../img/hero/top_hero/top_hero@2x.jpg
    ../img/hero/top_hero_mobile/top_hero_mobile.jpg
    ../img/hero/top_hero_mobile/top_hero_mobile@2x.jpg
    "
        src="../img/hero/top_hero/top_hero.jpg"
        alt="girl with the lemon"
      />
    </div>
    </div>
    <p class="hero-description">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
  </div>
</section>
