<!-- hero section -->
<section class="hero">
  <div class="container">
    <div class="hero-title-box">
      <h1 class="hero-title">
        fresh harvest box<br />
        is your one-stop place for a delicious fruit basket
      </h1>
    </div>
    <div class="hero-girl-border">
      <!-- чи треба ставити дескриптор 1х та 2х? КОСИЦЯ 2.15хв -->
      <img
        class="hero-girl"
        srcset="
    ../img/hero/top_hero/top_hero.jpg
    ../img/hero/top_hero/top_hero@2x.jpg
    ../img/hero/top_hero_mobile/top_hero_mobile.jpg
    ../img/hero/top_hero_mobile/top_hero_mobile@2x.jpg
    "
        src="../img/hero/top_hero/top_hero.jpg"
        alt="girl with the lemon"
      />
    </div>
  </div>
  <!-- 111111111111111 -->
  <div class="hero-btn-container">
    <button class="hero-btn" type="button">
      <h2 class="hero-btn-desc"><a href="#fruits">shop now</a></h2>
    </button>
    <!-- ПІТИ ПОДИВИТИСЬ, ЯК НАСТЯ НАЗВАЛА СВОЮ СЕКЦІЮ, ТОМУ ЩО МАЄ СПРАЦЮВАТИ ЯКІРЬ ДО СЕКЦІЇ ORGANIC FRUITS -->
  </div>

  <!-- 222222222222222 -->
  <div class="hero-description-container">
    <p class="hero-description">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
  </div>

  <!-- 3333333333333333 -->
  <div class="hero-first-block-container">
    <p class="hero-block-title">Fruit</p>
    <img
      class="hero-pic"
      srcset="
        ../img/hero/basket_strawberris/basket_strawberris@1x.png 200w,
        ../img/hero/basket_strawberris/basket_strawberris@2x.png 200w
      "
      src="../img/hero/basket_strawberris/basket_strawberris@1x.png"
      alt="basket with strawberries"
    />
    <p class="hero-desc">
      Refreshing and juicy, watermelon is the perfect summer treat and a great
      source of hydration
    </p>
  </div>
  <!-- 44444444444444444444444 -->
  <div class="hero-scroll-btn-container">
    <button type="button"><h3 class="hero-scroll-btn">&#35;organic</h3></button>
    <button type="button">
      <h3 class="hero-scroll-btn">&#35;products</h3>
    </button>
    <button type="button"><h3 class="hero-scroll-btn">&#35;basket</h3></button>
    <button type="button"><h3 class="hero-scroll-btn">&#35;fruits</h3></button>
  </div>

  <!-- 55555555555555555555555 -->
  <div class="hero-second-block-container">
    <p class="hero-block-title">Fruit</p>
    <img
      class="hero-pic"
      srcset="
        ../img/hero/basket_strawberris/basket_strawberris@1x.png 200w,
        ../img/hero/basket_strawberris/basket_strawberris@2x.png 200w
      "
      src="../img/hero/basket_strawberris/basket_strawberris@1x.png"
      alt="basket with strawberries"
    />
    <p class="hero-desc">
      Sweet and juicy, strawberries are packed with vitamin C and antioxidants,
      making them a delicious and healthy snack
    </p>
  </div>
</section>

<!-- SOME IMPORTANT MOMENTS -->
<!-- ДО ПОСИЛАНЬ ПРОПИСУВАТИ target="_blank" rel="noreferrer noopener -->
<!-- id НАСТЯ -->
