<!-- <div class="menu-container js-menu-container" id="mobile-menu">
    

    <ul class="mobile-menu list">
      <li class="mobile-item item">
        <a class="mobile-link current link" href="#works">How It Works</a>
      </li>
      <li class="mobile-item item">
        <a class="mobile-link link" href="#fruits">Fruits</a>
      </li>
      <li class="mobile-item item">
        <a class="mobile-link link" href="#contacts">Contacts</a>
      </li>
    </ul>
    <button class="mobile-but" type="button">
      <a href="#fruits" class="mobile-icon-link">
        <svg class="mob-icon" width="28" height="28">
          <use href="../img/icons/sprite.svg#uil_cartW"></use>
        </svg>
      </a>
    </button>
  </div> -->