
 <!-- Modal window -->
 <div class="thank-you-modal-backrod thank-you-is-hidden" data-modal>
    <div class="thank-you-window">
      <button class="thank-you-button" type="button" data-modal-close>
        <svg class="thank-you-modal-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-closed"></use>
        </svg>
      </button>
      <img
              srcset="../img/thank_you/raspberries.jpg 1x, ../img/thank_you/raspberries@2x.jpg 2x"
  src="../img/thank_you/raspberries.jpg"
  alt="Berries"
   loading="lazy"
      />
      <h2 class="thank-you-header">Thank you</h2>
      <p class="thank-you-note">Thank you for your order! Our team is preparing your box with fresh, delicious fruits and vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look forward to providing you with the best possible experience!</p>

  </div>
</div>

