<div class="your-order-modal-backrod is-hidden" data-modal>
    <div class="your-order-window">
        <div  class="your-order-phone">
        <button class="your-order-button" type="button" data-modal-close>
            <svg class="your-order-modal-icon">
              <use href="../img/icons/sprite.svg#icon-closed"></use>
            </svg>
          </button>
              <h2 class="your-order-header">Your Order</h2>
            </div>
            <ul class="your-order-list">
                <li class="your-order-item your-order-item-st">
                    <label>
                        <input
                          class="your-order-box"
                          type="checkbox"
                          name="user_accept"
                        />
                    </label>
                    <div class="your-order-p" >
                    <img  class="your-order-picture"
            src="../img/modal/kisspng-strawberryphone.png"
            alt="strawberry"
             srcset="../img/modal/kisspng-strawberryphone@2x.png"
          />
          <div class="your-order-text">
          <h3 class="your-order-note-mid">Strawberry Basket</h3>
          <p class="your-order-note">Plant</p>
        </div>
    </div>
                         </li>
        <li class="your-order-item your-order-item-apple">
            <label class="contact-accept contact-box">
                <input
                  class="your-order-box"
                  type="checkbox"
                  name="user_accept"
                />
            </label>
            <div class="your-order-p" >
                <img  class="your-order-picture"
                src="../img/modal/phoneapple.png"
                alt="apple"
                 srcset="../img/modal/phoneapple@2x.png"
              />
              <div class="your-order-text">
              <h3 class="your-order-note-mid">Apple Basket</h3>
              <p class="your-order-note">Plant</p>
            </div>
            </div>
                </li>
                <li class="your-order-item your-order-item-fruits">
                    <label>
                        <input
                          class="your-order-box"
                          type="checkbox"
                          name="user_accept"
                        />
                    </label>
                    <div class="your-order-p" >
                    <img  class="your-order-picture"
                    src="../img/modal/phonefruts.png"
                    alt="Fruits"
                     srcset="../img/modal/phonefruts@2x.png"
                  />
                  <div class="your-order-text">
                  <h3 class="your-order-note-mid">Fruits Basket</h3>
                  <p class="your-order-note">Plant</p>
                </div>
            </div>
                </li>

            </ul>
    </div>
  </div>
  
