<div class="backdrop is-hidden" your-oder-data-modal>
  <div class="yourorder-modal">
    <button
      class="yourorder-modal-close-btn btn"
      type="button"
      data-modal-your-oder-close
    >
      <svg class="yourorder-modal-icon-close" width="12" height="12">
        <use href="../img/icons/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <h1 class="yourorder-modal-title">YOUR ORDER</h1>
    <form class="yourorder-form" action="">
      <div class="container-form-checkbox">
        <label class="yourorder-modal-form-checkbox" for="strawberry">
          <div class="container-checkbox-strawberry container-checkbox">
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="strawberry"
              id="strawberry"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="../img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <div class="container-text">
              <h3 class="yourorder-modal-form-checkbox-head">
                Strawberry Basket
              </h3>
              <p class="yourorder-modal-form-checkbox-uppertitle">Plant</p>
            </div>
            <img
              class="yourorder-modal-form-checkbox-str-img"
              srcset="
                ./img/modal-your-oder/88x95-strawberry-mob@1x.png     88w,
                ./img/modal-your-oder/88x95-strawberry-mob@2x.png    176w,
                ./img/modal-your-oder/133x148-strawberry-tab@1x.png  133w,
                ./img/modal-your-oder/133x148-strawberry-tab@2x.png  266w,
                ./img/modal-your-oder/173x196-strawberry-desk@1x.png 173w,
                ./img/modal-your-oder/173x196-strawberry-desk@2x.png 346w
              "
              sizes="(min-width: 1280px) 173px, (min-width: 768px) 133px, (min-width: 375px) 88px, 100vw"
              src="./img/modal-your-oder/173x196-strawberry-desk@1x.png"
              alt="John Smith"
              width="173"
              height="196"
              loading="lazy"
            />
          </div>
        </label>

        <label class="yourorder-modal-form-checkbox" for="apple">
          <div class="container-checkbox-apple container-checkbox">
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="apple"
              id="apple"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="../img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <div class="container-text">
              <h3 class="yourorder-modal-form-checkbox-head">Apple Basket</h3>
              <p class="yourorder-modal-form-checkbox-uppertitle">Plant</p>
            </div>
            <img
              class="yourorder-modal-form-checkbox-appl-img"
              srcset="
                ./img/modal-your-oder/106x95-apple-mob@1x.png   106w,
                ./img/modal-your-oder/106x95-apple-mob@2x.png   212w,
                ./img/modal-your-oder/172x148-apple-tab@1x.png  172w,
                ./img/modal-your-oder/172x148-apple-tab@2x.png  344w,
                ./img/modal-your-oder/229x196-apple-desk@1x.png 229w,
                ./img/modal-your-oder/229x196-apple-desk@2x.png 458w
              "
              sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px, (min-width: 375px) 106px, 100vw"
              src="./img/modal-your-oder/229x196-apple-desk@1x.png"
              alt="John Smith"
              width="229"
              height="196"
              loading="lazy"
            />
          </div>
        </label>

        <label class="yourorder-modal-form-checkbox" for="fruits">
          <div class="container-checkbox-fruits container-checkbox">
            <input
              class="yourorder-modal-form-checkbox-imput"
              type="checkbox"
              name="fruits"
              id="fruits"
            />
            <svg
              class="yourorder-modal-form-checkbox-icon"
              width="6"
              height="6"
            >
              <use href="../img/icons/sprite.svg#icon-pick"></use>
            </svg>
            <div class="container-text">
              <h3 class="yourorder-modal-form-checkbox-head">
                Strawberry Basket
              </h3>
              <p class="yourorder-modal-form-checkbox-uppertitle">Plant</p>
            </div>
            <img
              class="yourorder-modal-form-checkbox-frut-img"
              srcset="
                ./img/modal-your-oder/107x95-fruits-mob@1x.png   107w,
                ./img/modal-your-oder/107x95-fruits-mob@2x.png   214w,
                ./img/modal-your-oder/172x148-fruits-tab@1x.png  172w,
                ./img/modal-your-oder/172x148-fruits-tab@2x.png  344w,
                ./img/modal-your-oder/229x196-fruits-desk@1x.png 229w,
                ./img/modal-your-oder/229x196-fruits-desk@2x.png 458w
              "
              sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px, (min-width: 375px) 107px, 100vw"
              src="./img/modal-your-oder/229x196-fruits-desk@1x.png"
              alt="John Smith"
              width="229"
              height="196"
              loading="lazy"
            />
          </div>
        </label>
      </div>
      <div class="container-input">
        <label class="yourorder-modal-label" for="yourorder-name">
          <input
            class="yourorder-modal-input"
            type="text"
            name="yourorder-name"
            placeholder="Enter full name..."
            id="yourorder-name"
            required
          />
        </label>

        <label class="yourorder-modal-label" for="yourorder-mail">
          <input
            class="yourorder-modal-input"
            type="email"
            name="yourorder-mail"
            placeholder="Enter email..."
            id="yourorder-mail"
            required
          />
        </label>

        <label class="yourorder-modal-label" for="yourorder-card">
          <input
            class="yourorder-modal-input"
            type=""
            name="yourorder-card"
            placeholder="Enter card.."
            id="yourorder-card"
          />
        </label>

        <label class="yourorder-modal-label-texterea" for="yourorder_comments">
          <textarea
            class="yourorder-modal-textarea"
            name="yourorder_comments"
            placeholder="Enter comments..."
            cols="30"
            rows="5"
          ></textarea>
        </label>
      </div>
      <button class="yourorder-modal-submit-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
