.fruits-main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
}

.fruits-text-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;

  max-width: 334px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--white-color);

  text-shadow: var(--shadow);
}

@media screen and (min-width: 768px) {
  .fruits-text-desc {
    max-width: 547px;
  }
}
.bottom-wrapper {
  max-width: 335px;
  margin: 0 auto;
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.fruits-item {
  max-width: 335px;
  height: 465px;
  border-radius: 20px;
  padding: 64px 20px 24px 20px;

  /* width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */
}

@media screen and (min-width: 768px) {
  .bottom-wrapper {
    max-width: 704px;
  }
  .fruits-item {
    max-width: 344px;
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .bottom-wrapper {
    max-width: 1215px;
  }

  .fruits-list {
    column-gap: 24px;
    row-gap: 24px;
  }
  .fruits-item {
    max-width: 389px;
    width: calc((100% - 2 * 24px) / 3);
  }
}
.relative {
  position: relative;
}
.fruits-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.fruits-text {
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.preic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 126px;
  height: 42px;

  background-color: #ffffff;
  border-radius: 200px;

  position: absolute;
  left: 24px;
  top: 399px;
}

.preic-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #ae1332;
}
.strawberry {
  background-color: #f8766b;
}

.banana {
  background-color: #edd251;
}
.watermelon {
  background-color: #9dc262;
}

.lime {
  background-color: #bfd663;
}
.apple {
  background-color: #e93f29;
}
.peach {
  background-color: #db4f4b;
}
