.hero {
  padding: 56px 0 80px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 64px 0 137px 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 64px 0 150px 0;
  }
}

/* Ira Part */
.hero-width {
  min-height: 1078px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: var(--shadow);
  text-align: center;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 64px;
  }
}

.hero-title-box {
  display: block;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 10%) scale(1);
  min-width: 335px;
}

@media screen and (min-width: 768px) {
  .hero-title-box {
    min-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title-box {
    min-width: 898px;
  }
}

.hero-girl {
  border-radius: 500px;
}
@media screen and (min-width: 768px) {
  .hero-girl {
    margin: auto;
  }
}
.hero-girl-border {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 13%;
  transform: translate(-50%, 0%) scale(1);
  padding: 11px;
  min-width: 300px;
  max-height: 498px;
  margin: 0% auto;
  border-radius: 500px;
  border: 1px solid;
  border-color: var(--no-color);
  background: linear-gradient(to bottom, #ae1332, #ae1332, #ae1332) padding-box,
    linear-gradient(to bottom, #ae1332 44.18%, #ffffff 100%) border-box;
}
@media screen and (min-width: 768px) {
  .hero-girl-border {
    max-width: 486px;
    max-height: 736px;
    top: 14%;
  }
}
.hero-banana {
  position: absolute;
  z-index: 2;
  left: 2%;
  top: 15%;
}
@media screen and (max-width: 374px) {
  .hero-banana {
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero-banana {
    left: 4%;
    top: 22%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-banana {
    scale: 1.5;
    left: 18%;
    top: 27%;
  }
}
.hero-berry {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 5%;
}
@media screen and (min-width: 768px) {
  .hero-berry {
    right: 4%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-berry {
    right: 18%;
    top: 3%;
  }
}

/* Yulia Part */
/* BTN SHOP NOW */
.hero-btn-container {
  position: relative;
  margin-bottom: 44px;
}
.hero-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  border-radius: 50%;
  border: transparent;
  width: 80px;
  height: 80px;
}

.hero-btn-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--red-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
}

.hero-btn-desc:hover,
.hero-btn-desc:focus {
  color: var(--green-color);
}

/* first side  */
.hero-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  align-items: center;

  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  gap: 44px;
}

.hero-first-wrapper {
  background-color: var(--green-color);
  border-radius: 500px;
  margin-right: 63px;
  margin-left: 63px;
  width: 249px;
  height: 387px;
}

.hero-block-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;

  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 28px;
  padding-right: 112px;
  padding-left: 112px;
  margin-bottom: 61px;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-pic {
  margin-left: 24px;
}

.hero-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;

  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 47px;
  padding-bottom: 40px;
  padding-left: 47px;

  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

/* second side */
.hero-second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  gap: 44px;
}

.hero-second-wrapper {
  background-color: var(--yellow-color);
  border-radius: 500px;
  margin-right: 63px;
  margin-left: 63px;
  width: 249px;
  height: 387px;
}

.hero-scroll-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.hero-scroll-btn {
  font-weight: 500;
  font-size: 12px;
  gap: 8px;
}
